body {
    background-color: #474747;
    margin: 0;
    padding: 0;
}

main {
    margin: 0;
    padding: 0;
}

.playfield {
    display: inline-block;
    width: 63%;
    height: 99vh;
    margin: 0;
    vertical-align: top;
}

.statusWindow {
    width: 35vw;
    height: 100vh;
    display: inline-block;
    margin: 0;
    vertical-align: top;
}

h1 {
    padding-top: 50px;
    color: #ffffff;
    font-family: 'inconsolata', monospace;
    font-size: 3.5vw;
    font-weight: normal;
    text-align: center;
    margin-bottom: 70px;
}

.horizLine {
    background-color: #ffffff;
    height: 1px;
    width: 32vw;
    margin: auto;
}

h3 {
    color: #ffffff;
    font-family: 'inconsolata', monospace;
    font-size: 2.2vw;
    font-weight: normal;
    text-align: center;
    margin: 1.2vw;
}

p {
    color: #ffffff;
    font-family: 'inconsolata', monospace;
    font-size: 1.3vw;
    font-weight: normal;
    text-align: center;
    margin: 1.2vw; 
}

#player1Score {
    width: 10vw;
    height: 7vw;
    display: inline-block;
    background-color: #363636;
    border-radius: 7px;
    margin-top: 3vh;
    margin-left: 5vw;
}

#player2Score {
    width: 10vw;
    height: 7vw;
    display: inline-block;
    background-color: #363636;
    border-radius: 7px;
    position: relative;
    margin-top: 3vh;
    margin-left: 5vw;
}

.activePlayer {
    box-shadow:inset 0px 0px 0px 5px #6F9654;
}

#playButton {
    width: 25.3vw;
    height: 6vw;
    margin-top: 6vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

#endButton {
    width: 25.3vw;
    height: 6vw;
    background-color: #A35051;
    margin-top: 6vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

#endButton:hover {
    cursor: pointer;
}

.buttonText {
    color: #ffffff;
    font-family: 'inconsolata', monospace;
    font-weight: normal;
    text-align: center;
    padding-top: 2vw;
}

#playButtonText {
    font-family: 'inconsolata', monospace;
    font-weight: normal;
    text-align: center;
    padding-top: 2vw;
}

.vertiLine {
    background-color: #ffffff;
    width: 1px;
    height: 100%;
    position: absolute;
    margin-left: 35vw;
    top: 0px;
    margin-bottom: 0vh;
    padding: 0vh;
}

.oppoTurn {
    background-color: rgb(56, 75, 42);
    color: rgb(78, 78, 78);
    cursor: default;
}

.myTurn {
    background-color: #6F9654;
    color: white;
    cursor: pointer;
}

#giveUpForm {
    display: none;
}
